body {
	background-color: white;
	margin-bottom: 0px;
}
html{
   	overflow-x:hidden;
}
#description-line{
	background-color: #798595;
	text-align: center;
	vertical-align: middle;
	height: 130px;
	line-height: 130px;	
	font-size: 30pt;
	font-family: PFSquareSansProMedium;
	margin-left: -10px;
  	margin-right: -10px;
}
#content{
	text-align: center;
}
#country-city{
	font-size: 24pt;
	font-family: PFSquareSansProMedium;
	margin-top: 30px
}
#country-city p{
	margin: 0px 0px;
}
#tel-mail{
	font-size: 24pt;
	font-family: PFSquareSansProLight;
	margin-top: 30px
}
#tel-mail p{
	margin: 0px 0px;
}
#logo{
	margin-top: 30px;
}
.footer{
	font-size: 20pt;
	font-family: PFSquareSansProLight;
	text-align: center;
	margin-bottom: -24px;
}
.footer-line{
	height: 6px;
	background-color: #798595;
	flex: 0 0 auto;
	margin: 0px -10px 0px -10px;
}



